<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
<listeners>
<listener class-name = "ExtentReportLisetner.ExtentReportListner" />
<listener class-name = "Util.Transformer" />
</listeners>
<test thread-count="5" name="Test">
<classes>

<class name="webAutomation.HotcardSerach"/>



</classes>
</test> <!-- Test -->
</suite> <!-- Smoke -->